@charset "utf-8";

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 7.29%;
    padding-left: 2.7%;
    position: absolute;
    width: 100%;
}

.header-nav ul {
    display: flex;
    gap: 70px;
}

.header-nav li {
    color: #fff;
    font-weight: bold;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.logo {
    width: 227px;
}

.main {
    background-color: #e8d9bf;
    color: #4f260b;
}

.max-width {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.explanation {
    padding-top: 105px;
    padding-bottom: 95px;
    text-align: center;
}

#Ewords {
    font-size: 30px;
    font-weight: lighter;
}

#title {
    margin: 0 auto;
    padding-top: 62px;
    padding-bottom: 46px;
    font-weight: lighter;
    font-size: 82px;
    line-height: 1.17;
    letter-spacing: 0.1em;
}

#words {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
}

.title_text {
    height: 78px;
    text-align: center;
    margin-top: 78px;
    margin-bottom: 40px;
}

#ABOUT_US_SP .about_us_info {
    display: none;
}

.about_us_inner {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}

.drink_pic {
    width: 50%;
}

.drink_pic_shape {
    border-bottom-right-radius: 50px;
}

.about_us_info {
    width: 50%;
    padding: 0 0 0 80px;
}

.about_us_text {
    height: 78px;
    width: 272px;
    padding-bottom: 58px;
}

#about_us_word {
    font-weight: lighter;
    font-size: 44px;
    line-height: 1.39;
}
#about_us_detail {
    font-weight: lighter;
    font-size: 16px;
    line-height: 1.63;
}

#MENU {
    display: block;
}

#MENU_SP {
    display: none;
}

.menu_text {
    width: 151px;
}

#MENU ul {
    /* 子要素を横向きにする */
    display: flex;
    gap: 20px;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

#MENU li {
    width: 30%;
}

.menu_pic img {
    border-top-right-radius: 25px;
}

.menu_title p {
    color: red;
    text-align: left;
    font-weight: lighter;
    font-size: 38px;
    margin-top: -20px;
}

.menu_detail p {
    font-weight: lighter;
    font-size: 17px;
    line-height: 1.47;
}

#GALLERY {
    display: block;
}

#GALLERY_SP {
    display: none;
}

#gallery_text {
    width: 245px;
}

.photo ul {
    /* 子要素を横向きにする */
    display: flex;
}

.photo li {
    width: 20%;
}

#event_text {
    width: 174px;
}

.box-model {
    text-align: center;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border: 2px solid #4f260b;
    font-weight: lighter;
    font-size: 23px;
}

.box-model ul {
    flex-direction: row;
    max-width: 660px;
    margin: 0 auto;
}

.box-model li {
    display: flex;
}

.day1 {
    padding-top: 39px;
}

.day {
    padding-right: 55px;
    padding-bottom: 25px;
}
.event {
    text-decoration: underline;
}

#access_text {
    width: 214px;
}

.map {
    height: 475px;
    filter: grayscale(100%) invert(92%) contrast(83%);
}

.footer_inner {
    max-width: 1000px;
    display: flex;
    padding-top: 82px;
    margin: 0 auto;
}

.footer_inner .footer_text {
    width: 227px;
    height: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.footer_inner .info {
    margin-left: 65px;
}

.footer_inner .info p {
    padding-bottom: 20px;
    font-size: 20px;
}

#company {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 82px;
    font-size: 16px;
}

.pagetop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 125px;
    height: 125px;
}

.pagetop a {
    display: block;
    text-decoration: none;
}

.hamburger,
.header-nav-sp {
    display: none;
}

@media screen and (max-width: 1100px) {
    #Ewords {
        font-size: 30px;
        font-weight: lighter;
    }

    #title {
        margin: 0 auto;
        padding-top: 62px;
        padding-bottom: 46px;
        font-weight: lighter;
        font-size: 70px;
        line-height: 1.17;
        letter-spacing: 0.1em;
    }

    #words {
        font-size: 23px;
        line-height: 1.65;
        letter-spacing: 0.1em;
    }

    #about_us_word {
        font-weight: lighter;
        font-size: 35px;
        line-height: 1.39;
    }

    .header-nav {
        display: none;
    }
    .hamburger {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        /* 重なり順　position があるときの最前面（最大値9999）（最小値－1）　 */
        z-index: 9999;
    }

    .hamburger span {
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #fff;
        top: 13px;
        transition: 0.3s;
    }
    .hamburger span::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 3px;
        background-color: #fff;
        top: -13px;
        transition: 0.3s;
    }
    .hamburger span::after {
        position: absolute;
        content: "";
        width: 30px;
        height: 3px;
        background-color: #fff;
        bottom: -13px;
        transition: 0.3s;
    }

    /* openが付いた時×を作る */
    .open span {
        background-color: transparent;
    }

    .open span::before {
        transform: rotate(45deg);
        top: 0;
    }

    .open span::after {
        transform: rotate(-45deg);
        bottom: 0;
    }

    .header-nav-sp {
        position: absolute;
        background-color: #000000c4;
        width: 100%;
        height: 100vh;
    }

    .header-nav-sp ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        gap: 20px;
    }
    .header-nav-sp li {
        color: #fff;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
            "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
        font-weight: bold;
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    .explanation {
        padding-top: 41px;
        padding-bottom: 66px;
        text-align: center;
    }

    #Ewords {
        font-size: 17px;
        font-weight: lighter;
    }

    #title {
        margin: 0 auto;
        padding-top: 32px;
        padding-bottom: 46px;
        font-weight: lighter;
        font-size: 38px;
        line-height: 1.16;
        letter-spacing: 0.02em;
    }

    #words {
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.1em;
    }

    .title_text {
        height: 45px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 21px;
    }

    #ABOUT_US .about_us_inner {
        display: none;
    }

    #ABOUT_US_SP .about_us_info {
        display: block;
    }

    #about_us_word {
        font-weight: lighter;
        font-size: 35px;
        line-height: 1.39;
    }

    .about_us_inner {
        padding-top: 50px;
        padding-bottom: 50px;
        display: block;
        align-items: center;
    }

    .about_us_info {
        width: 100%;
        padding: 0px;
    }

    .about_us_text {
        height: 45px;
        width: 160px;
        padding-bottom: 17px;
    }

    .drink_pic {
        width: 100%;
    }

    .drink_pic_shape {
        border-bottom-right-radius: 0px;
    }

    #about_us_detail {
        font-weight: lighter;
        font-size: 16px;
        line-height: 1.63;
    }

    #MENU {
        display: none;
    }

    #MENU_SP {
        display: block;
    }

    .menu_text {
        width: 88px;
    }

    #MENU {
        display: none;
    }

    #MENU_SP ul {
        /* 子要素を横向きにする */
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        /* justify-content: space-between; */
        max-width: 1000px;
        margin: 0 auto;
    }

    #MENU_SP li {
        width: 30%;
    }

    .menu {
        margin: 0 auto;
    }

    .pic {
        border-top-right-radius: 25px;
    }

    .title {
        color: red;
        text-align: left;
        font-weight: lighter;
        font-size: 38px;
        margin-top: -35px;
    }

    .detail {
        font-weight: lighter;
        font-size: 17px;
        line-height: 1.47;
        padding-bottom: 55px;
    }

    #GALLERY {
        display: none;
    }

    #GALLERY_SP {
        display: block;
    }

    #gallery_text {
        width: 142px;
    }
    /* 
    .photo ul {
        display: flex;
    } */

    .photo li {
        width: 100%;
    }

    #event_text {
        width: 100px;
    }

    .box-model {
        text-align: start;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        border: 2px solid #4f260b;
        font-weight: lighter;
        font-size: 16px;
        padding-left: 30px;
    }

    .box-model ul {
        flex-direction: row;
        max-width: 660px;
        margin: 0px;
    }

    .box-model li {
        display: block;
    }

    .day1 {
        padding-top: 21px;
    }

    .day {
        padding-right: 0px;
        padding-bottom: 0px;
    }
    .event {
        text-decoration: underline;
        padding-bottom: 18px;
    }

    #access_text {
        width: 124px;
    }

    .map {
        height: 475px;
        filter: grayscale(100%) invert(92%) contrast(83%);
    }

    .footer_inner {
        max-width: 1000px;
        display: block;
        padding-top: 48px;
        padding-left: 20px;
        margin: 0 auto;
    }

    .footer_inner .footer_text {
        width: 227px;
        height: 50px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;
    }

    .footer_inner .info {
        margin-left: 65px;
    }

    .footer_inner .info p {
        padding-bottom: 20px;
        font-size: 18px;
    }

    #company {
        text-align: center;
        padding-top: 47px;
        padding-bottom: 33px;
        font-size: 16px;
    }

    .header-nav {
        display: none;
    }
}
