@charset "utf-8";

.hedaer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    /* 子要素を横向きにする */
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.flex-box {
    border: 1px solid #000000; /*線の設定*/
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding-left: 20px;
}

@media screen and (max-width: 767px) {
    .hedaer,
    ul {
        flex-direction: column;
    }

    li {
        border-bottom: 1px solid #000000; /*線の設定*/
        padding: 2px 8px; /*余白の設定*/
    }

    .flex-box {
        border-left: none;
        border-bottom: 1px solid #000000; /*線の設定*/
        padding: 2px 8px; /*余白の設定*/
    }
}
