@charset "utf-8";

ul {
    /* 子要素を横向きにする */
    display: flex;
    gap: 20px;
    /* flex-wrapプロパティは、フレックスアイテムの折り返しを指定 */
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-model {
    margin: 0 auto;
    height: 300px;
    width: 300px;
    background-color: blue;
}

.box-model-red {
    margin: 0 auto;
    height: 300px;
    width: 300px;
    background-color: red;
}
